.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
}

.nav-brand {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}

.nav-link-active {
  color: #00bfff;
  text-decoration: none;
  padding: 0 16px;
  font-weight: 600;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0 16px;
  font-weight: 500;
}

.nav-contact-btn {
  background-color: #00bfff;
  color: #000026;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-contact-btn:hover {
  background-color: #00313d;
  color: #fff;
}


.nav-menu {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: #00bfff;
}