:root {
  --primary-color: blue;
  --background-gradient: linear-gradient(245deg, #0044ff, #00113f);
  --text-color: #ffffff;
}

body {
  font-family: 'Arial', sans-serif;
  /* Choose your font */
  background: var(--background-gradient);
  color: var(--text-color);
  margin: 0;
}

.background-image-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
  background: url('../assets/final_bg.svg') center center/cover no-repeat;
}